body {
  margin: 0;
}
h2 {
  color: blue;
}
header {
  background-color: black;
  color: white;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  margin-left: 20px;
}

.separator {
  width: 70%;
  height: 20px;
  margin: auto;
}

.top-image-field {
  width: 30%;
  height: auto;
  margin-right: 0px;
  margin: auto;
}

.top-image {
  width: 100%;
  height: auto;
}

.top-links-field {
  background-color: white;
  width: 70%;
  height: auto;
  margin: auto;
}

.link-btn {
  text-decoration: none;
  background-color: grey;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 5px;
  width: 100%;
  border: 1px solid black;
}

.link-btn:hover {
  background-color: rgb(56, 64, 180);
}

.top-main-field {
  background-color: grey;
  color: white;
  width: calc(70% - 20px);
  height: auto;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

.main-content {
  background-color: lightgrey;
  width: 70%;
  height: auto;
  margin: auto;
  align-items: center;
}

.main-content:after {
  content: "";
  display: block;
  clear: both;
}

.apartment-details {
  background-color: lightgray;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  float: left;
  width: 8%;
}

.client-details {
  background-color: lightgray;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  float: left;
  width: 8%;
}

.item-name {
  background-color: grey;
  color: black;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  border: 1px solid black;
  margin: 10px;
}

.modify-btn {
  text-decoration: none;
  background-color: grey;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.modify-btn:hover {
  background-color: rgb(56, 64, 180);
}
