<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>AppartmentsOffer</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>
<header>
    <span class="title">FaKE Development</span>
</header>

<div class="super-upper">
    <img class="upper-img" src="resources/graphic.jpg"/>
</div>

<div>
    <div class="upper-main">
        CLIENTS LIST
    </div>
    <div class="main-content">

        <div class="item" th:each="client : ${clients}">
            <span class="item-name">Id: </span>
            <span class="item-name" th:text="${client.id}"></span>
            <span class="item-name">First name: </span>
            <span class="item-name" th:text="${client.firstName}"></span>
            <span class="item-name">Last name: </span>
            <span class="item-name" th:text="${client.lastName}"></span>
        </div>
        <span><a href="/clients/add-client" class="add-btn">Add new Client</a></span>
        <span><a href="/clients/back-homepage" class="add-btn">Back to Home Page</a></span>

    </div>
</div>
</body>
</html>
