<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:border="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <title>AppartmentsOffer</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <span class="title">FaKE Development</span>
    </header>

    <div class="super-upper">
      <img class="upper-img" src="resources/graphic.jpg" />
    </div>

    <div class="upper-main">APARTMENTS LIST</div>

    <div class="main-content">
      <div class="item" th:each="apartment : ${apartments}">
        <span class="item-name">Building: </span>
        <span class="item-name" th:text="${apartment.buildingIndex}"></span>
        <span class="item-name">Floor: </span>
        <span class="item-name" th:text="${apartment.floorLevel}"></span>
        <span class="item-name">Apartment no.: </span>
        <span class="item-name" th:text="${apartment.number}"></span>

        <span class="item-name">Living area:</span>
        <span class="item-name"th:text="${apartment.area}"></span>
        <span class="item-name">m2</span>
        <span class="item-name">Rooms: </span>
        <span class="item-name" th:text="${apartment.amountOfRooms}"></span>

        <span><a href="" class="add-btn">Ask for price</a></span>
        <span><a href="" class="add-btn">Make reservation</a></span>

      </div>
    </div>
  </body>
</html>
